<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% block header %}
  <title>Home</title>
  <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="{% static 'style.css' %}">
  {% endblock header %}
</head>
<body>

    <nav class="navbar navbar-expand-lg bg-white sticky-top navbar-white p-3">
        <div class="container">
            <a class="navbar-brand" href="{% url 'home' %}"><i class="fa-solid fa-home me-2"></i> <strong>HOME CARE</strong></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
      
<!--            <div class="mx-auto my-3 d-lg-none d-sm-block d-xs-block">-->
<!--                <div class="input-group">-->
<!--                    <span class="border-primary input-group-text bg-primary text-white"><i class="fa-solid fa-magnifying-glass"></i></span>-->
<!--                    <input type="text" class="form-control border-primary" style="color:#7a7a7a">-->
<!--                    <button class="btn btn-primary text-white">Search</button>-->
<!--                </div>-->
<!--            </div>-->
          <div class=" collapse navbar-collapse" id="navbarNavDropdown">
            <div class="ms-auto d-none d-lg-block">
<!--              <div class="input-group">-->
<!--                <span class="border-primary input-group-text bg-primary text-white"><i class="fa-solid fa-magnifying-glass"></i></span>-->
<!--                <input type="text" class="form-control border-primary" style="color:#7a7a7a">-->
<!--                <button class="btn btn-primary text-white">Search</button>-->
<!--              </div>-->
            </div>
            <ul class="navbar-nav ms-auto ">
              <li class="nav-item">
                <a class="nav-link mx-2 text-uppercase active" aria-current="page" href="{% url 'home' %}">Home</a>
              </li>
                
              <li class="nav-item">
                {% comment %} <a class="nav-link mx-2 text-uppercase" href="#">Products</a> {% endcomment %}
                {% comment %} <a class="nav-link mx-2 text-uppercase" href="#" onmouseover="showDiv()" onmouseout="hideDiv()">Products</a> {% endcomment %}
                <a class="nav-link mx-2 text-uppercase" href="#" onmouseover="showDiv()" onmouseout="hideDiv()">Products</a>
                <div id="products-dropdown" class="border rounded" onmouseover="showDiv()" onmouseout="startHideTimer()">
                  <section class="p-3">
                    <h2>Popular Categories</h2>
                    <ul>
                        <li><a href="#" class="text-dark">Electrician</a></li>
                        <li><a href="#" class="text-dark">Plumber</a></li>
                        <li><a href="#" class="text-dark">Carpenter</a></li>
                        <li><a href="#" class="text-dark">Painter</a></li>
                        <li><a href="#" class="text-dark">Dish Connection</a></li>
                        <li><a href="#" class="text-dark">Broadband Connection</a></li>
                        <li><a href="#" class="text-dark">Pest Control Service</a></li>
                        <li><a href="#" class="text-dark">Drainage Cleaning Services</a></li>
                    </ul>
                </section>
                </div>
              </li>
             
              <li class="nav-item">
                <a class="nav-link mx-2 text-uppercase" href="{% url 'services' %}">Services</a>
              </li>
              <li class="nav-item">
                <a class="nav-link mx-2 text-uppercase" href="{% url 'aboutus' %}">About Us</a>
              </li>
              <li class="nav-item">
                <a class="nav-link mx-2 text-uppercase" href="{% url 'contactus' %}">Contact Us</a>
              </li>
            </ul>
            <ul class="navbar-nav ms-5" style="margin-right:0px">
              <li class="nav-item">
                {% if not user_logged_in %}
                
                <a class="nav-link text-uppercase" href="#" onmouseover="showDiv1()" onmouseout="hideDiv1()"><img src="{% static 'image/founder01.jpeg'%}" alt="User" height="40px" style="border-radius: 50%; margin-right: 10px;">Account</a>
                <div id="products-dropdown1" class=" border  rounded" onmouseover="showDiv1()" onmouseout="startHideTimer1()" style="background-color: #fff;">
                  <section class="">
                    <ul class="products-dropdown1_ul text-center ">
                        <li><a href="#" class="text-dark">SignIn</a></li>
                        <li><a href="#" class="text-dark">SignUp</a></li>
                        <li><a href="#" class="text-dark">SignOut</a></li>
                    </ul>
                  </section>
                </div>
                {% else %}
                <li class="nav-item">
                  <a class="nav-link mx-2 text-uppercase" href="{% url 'contactus' %}">Login</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link mx-2 text-uppercase" href="{% url 'contactus' %}">Create Account</a>
                </li>
                {% endif %}
              </li>
              {% comment %} <li class="nav-item">
                <a class="nav-link mx-2 text-uppercase" href="#" onmouseover="showDiv2()" onmouseout="hideDiv2()"><i class="fa-solid fa-circle-user me-1"></i> Account</a>
                <div class="border" id="products-dropdown1" onmouseover="showDiv2()" onmouseout="startHideTimer2()">
                <ul class="account_ul" >
                  <li>Sign In</li>
                  <li>Sign Up</li>
                </ul>
              </div>
              </li> {% endcomment %}
            </ul>
          </div>
        </div>
      </nav>
    
    {% block content %}{% endblock content %}

    <script src="{% static 'js/bootstrap.js' %}"></script>
    <script src="{% static 'js/script.js' %}"></script>

    
</body>
</html>