{% extends 'base.html' %}
{% load static %}



{% block content %}
    <main>
        <section>
            <h1>Welcome to Home Maintenance</h1>
            <p>Get things done with talented workers on the world's largest online marketplace</p>
            <form action="#" method="get">
                <input type="text" name="search" placeholder="Find Services">
                <button type="submit">Search</button>
            </form>
        </section>
        <section>
            <h2>Popular Categories</h2>
            <ul>
                <li><a href="#">Electrician</a></li>
                <li><a href="#">Plumber</a></li>
                <li><a href="#">Carpenter</a></li>
                <li><a href="#">Painter</a></li>
                <li><a href="#">Dish Connection</a></li>
                <li><a href="#">Broadband Connection</a></li>
                <li><a href="#">Pest Control Service</a></li>
                <li><a href="#">Drainage Cleaning Services</a></li>
            </ul>
        </section>
        <section>
            <h2>Featured Services</h2>
            <ul>
                <li>
                    <a href="#">
                        <img src="{% static 'image/02.jpg' %}" alt="Service 1">
                        <h3>Service 1</h3>
                        <p>Description of service 1</p>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="{% static 'image/02.jpg' %}" alt="Service 2">
                        <h3>Service 2</h3>
                        <p>Description of service 2</p>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="{% static 'image/02.jpg' %}" alt="Service 3">
                        <h3>Service 3</h3>
                        <p>Description of service 3</p>
                    </a>
                </li>
            </ul>
        </section>

    </main>
    <footer>
        <p>&copy; 2023 Home Maintenance. All rights reserved.</p>
    </footer>
{% endblock content %}

